<!DOCTYPE html>
<html>
<head lang="en">


<title>Error Page</title>

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<style>
</style>
</head>
<body>

	<div style="width: 800px; margin: 0 auto;">

		<p>
			<img src="../../static/images/err.png" th:src="@{/images/err.png}" />
		</p>
		<div class="alert alert-danger" role="alert" th:text="${errorMessage}">...</div>
	
		<p>
			<a href="/" class="btn btn-default" role="button">Return to Home
			</a>
		</p>
	</div>

</body>
</html>